body {
    color: white;
    background-color: #311919;
    margin: auto;
}
p{
    color:white;
}

#tableOptions{
    width: 500px
    bottom:0;

}

#roster{
    float:left;
    display: inline-block;
}

#fieldPlayers{
    color:black;
    background-image: url("/Images/FieldEdited.png");
    display:inline-block;
    float: right;
    height: 500px;
    width: 600px;
    background-color: #003300;
}

#GK{
    margin-left: 45% ;
    color:White;
}

#Def{
     margin-left: 10% ;
}

#Mid{

    margin-top:10%;
    margin-left: 15% ;
}

#Fwd{
      margin-top:20%;
    margin-left: 5% ;
}