body {
    color: white;
    background-color: black;
    margin: auto;
}
#mainBody{
    width:70%;
    height:80%;
    margin-left: auto;
    margin-right:auto;
    margin-top:5%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #B8B8B8;
}
p{
    color:white;
    
}

#tableOptions{
    width: 500px
  

}

#roster{
    float:left;
    display: inline-block;
    font-size: 20px;
}
#fieldDisplay{
    color:black;
    display:inline-block;
    float: right;
    height: 450px;
    width: 600px;
    background-color: #003300;

}
#fieldPlayers{
    height: 100%;
    width:100%;
    background-image: url("/Images/soccer-field.png");
    
}

#GK{
    margin-left: 45% ;
    color:White;
}

#Def{
     margin-left: 10% ;
}

#Mid{

    margin-top:10%;
    margin-left: 15% ;
}

#Fwd{
      margin-top:20%;
    margin-left: 5% ;
}